<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
      <!-- font awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>own your MEALS | Edit Recipe</title>
</head>
<header>
    <h1 class="h1-edit">own your MEALS</h1>
    <nav>
        <a class="aedit" href="/recipes/new"><button class="bedit">Add a New Recipe</button></a>
        <a class="aedit" href="/recipes"><button class="bedit">Diary</button></a>
        <a class="aedit" href="/"><button class="bedit">Home</button></a>

    </nav>
</header>

<body class="body-edit">
    <!-- ============= CONTAINER ============== -->
    <div class="container-edit">
        <!-- sidebar -->
        <div class="sidebar-edit" style="background-image: url('<%= recipe.image %>')"></div>
        <!-- new-recipe container -->
        <div class="edit-recipe">
            <h2 class="h2-edit">Edit Recipe</h2>
            <!-- START FORM -->
            <form action="/recipes/<%= recipe._id %>?_method=PUT " method="POST" enctype="multipart/form-data">

                <!-- fieldset for meal info -->
                <fieldset class="meal-info">
                    <!-- legend for meal info -->
                    <legend>Meal Information</legend>
                    <!-- name -->
                    <label class="input-label" for="username">Name</label>
                    <input class="input-edit" type="text" name="name" id="name" value="<%= recipe.name %>" />

                    <!-- image -->
                    <label class="input-label" for="image">Image</label>
                    <input class="input-edit" type="url" name="image" id="image" value="<%= recipe.image %>" />

                    <!-- time -->
                    <label class="input-label" for="time">Time</label>
                    <input class="input-edit" type="text" name="time" id="time" value="<%= recipe.time %>" />

                    <!-- ingredients -->
                    <label class="input-label" for="ingredients">Ingredients</label>
                    <% recipe.ingredients.forEach(ingredient => { %>
                    
                    <input class="input-edit" type="text" name="ingredients" id="ingredients" value="<%= ingredient %>"/>
                    <% } )%>

                    <!-- directions -->
                    <label class="input-label" for="directions">Directions</label>
                    <input class="input-edit" type="text" name="directions" id="directions" value="<%= recipe.directions %>" />

                    <!-- submit button -->
                    <input class="input-submit" type="submit" value="Edit Recipe">
            </form>
        </div>
    </div>
</body>
<footer class="ftr-edit">
    <p>copyright &copy; all rights reserved 2021 own your MEALS</p>
</footer>

</html>